.typst-text > *[fill="#000000"] {
	fill: #ffffff;
}
.typst-text > *[fill="#ffffff"] {
	fill: #000000;
}
.typst-text > *[stroke="#ffffff"] {
	stroke: #000000;
}
.typst-text > *[stroke="#000000"] {
	stroke: #ffffff;
}
.typst-shape > *[fill="#000000"] {
	fill: #ffffff;
}
.typst-shape > *[fill="#ffffff"] {
	fill: #000000;
}
.typst-shape > *[stroke="#ffffff"] {
	stroke: #000000;
}
.typst-shape > *[stroke="#000000"] {
	stroke: #ffffff;
}

.typst-text[fill="#000000"] {
	fill: #ffffff;
}
.typst-text[fill="#ffffff"] {
	fill: #000000;
}
.typst-text[stroke="#ffffff"] {
	stroke: #000000;
}
.typst-text[stroke="#000000"] {
	stroke: #ffffff;
}
.typst-shape[fill="#000000"] {
	fill: #ffffff;
}
.typst-shape[fill="#ffffff"] {
	fill: #000000;
}
.typst-shape[stroke="#ffffff"] {
	stroke: #000000;
}
.typst-shape[stroke="#000000"] {
	stroke: #ffffff;
}
